<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Тактичне спорядження</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body style="padding-top: 5rem;">
        @await Html.PartialAsync("Partials/_Header");
        @RenderBody();
      
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
</DOCTYPE>