﻿<div class="container text-center">
    <h1>403</h1>
    <p class="my-4 fs-4">Sorry, this page is locked. Permission required.</p>
    <a class="mt-5 btn btn-dark px-3" href="/"><b>Go Back</b></a>
</div>


<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to top, #cccc 20%, #ffff 100%);
    }

    .container h1 {
        font-size: 5rem;
        text-shadow: 7px 7px 0px #cccccc, 2px 2px 5px #cccc, 2px 2px 5px #cccc;
    }
</style>